.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $card-shadow;
}

.card-header {
  border-bottom-width: 1px;
}

.card-title {
  font-size: $card-title-font-size;
  font-weight: $card-title-font-weight;
  color: $card-title-color;
}

.card-subtitle {
  font-weight: $font-weight-normal;
}

.card-img,
.card-img-top,
.card-img-bottom {
  @include img-fluid;

  @media all and (-ms-high-contrast:none) {
    height: 100%;
  }
}

.card > .table > tbody {
  tr:last-child td:first-child,
  tr:last-child th:first-child {
    border-bottom-left-radius: $card-border-radius;
  }
  tr:last-child td:last-child,
  tr:last-child th:last-child {
    border-bottom-right-radius: $card-border-radius;
  }
}

.card-body,
h1, h2, h3, h4, h5, h6 {
  color: $gray-400;
}

.total {
  background-color: $total-bg;
  color: $black !important;
  .icon-bg {
    background-color: rgb(0, 0, 0, 0.8) !important;
    color: $bg-secondary ;
  }
  .card-title {
    color: $black;
    font-size: larger;
    font-weight: $font-weight-bold;
  }
  h1{
    color: $black !important;
  }

  .bg-filtros {
    background-color: rgb(0, 0, 0, 0.9) !important;
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
  }
}
