footer.footer {
  padding: $spacer $spacer*0.875;
  direction: ltr;
  background: $footer-bg;

  ul {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    width: 100vw;
  }
}

#footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
