footer.footer {
  padding: $spacer $spacer*0.875;
  direction: ltr;
  background: $footer-bg;
  transition: all 0.3s ease;
}

ul {
    margin-bottom: 0;
  }

#footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
