// -------------------------------
// Hamburguesa normal
// -------------------------------
.hamburger,
.hamburger:before,
.hamburger:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: $hamburger-width-middle;
  background: $gray-700;
  display: block;
  content: '';
  transition: all 0.3s ease;
}

.hamburger {
  position: relative;
  transition: transform 0.3s ease;

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    top: -7.5px;
    width: $hamburger-width-top;
  }

  &:after {
    bottom: -7.5px;
    width: $hamburger-width-bottom;
  }
}

.sidebar-toggle:hover {
  .hamburger,
  .hamburger:before,
  .hamburger:after {
    background: $bg-secondary;
  }
}

.hamburger-right {
  &,
  &:before,
  &:after {
    right: 0;
  }
}

// -------------------------------
// Estado activo (sidebar oculto)
// -------------------------------
.wrapper.sidebar-collapsed .hamburger {
  background: transparent; // desaparece la línea del medio
}

.wrapper.sidebar-collapsed .hamburger:before {
  transform: rotate(45deg);
  top: 0;
  width: $hamburger-width-middle;
}

.wrapper.sidebar-collapsed .hamburger:after {
  transform: rotate(-45deg);
  bottom: 0;
  width: $hamburger-width-middle;
}
