body, html, #root {
  height: 100%;
}

body {
    // Mantenemos lo que ya tienes para asegurar el espacio
    position: relative;
    overflow-y: scroll;

    // Esta es la "capa mágica" que se pone SOBRE el background de app.scss
    &::before {
        content: "";
        position: fixed; // Para que no se mueva al scrollear
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        // Aquí va tu imagen
        background-image: url('/static/img/icons/body-bg.png') !important;
        background-repeat: no-repeat;

        // Ajustamos la visibilidad para que no tape el contenido
        opacity: 0.07; // Ajusta este número (0.1 es más fuerte, 0.02 más suave)
        z-index: 1;   // Se coloca detrás del texto pero sobre el color de app.scss
        pointer-events: none; // Para que puedas hacer click a través de la capa
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow-x: hidden;
  }
}
